\documentclass[12pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{times}
\usepackage[margin=1in]{geometry}
\usepackage{setspace}
\usepackage{natbib}
\usepackage{hyperref}
\usepackage{graphicx}
\usepackage{enumitem}

\doublespacing

\title{ {{ title }} }
\author{}
\date{}

\begin{document}

\maketitle

{{ body }}

\end{document}
